
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: rgb(241, 218, 218);
  padding: 10px;
  border: 2px solid rgb(208, 202, 202);
}

ol {
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 8px;
  list-style-position: inside;
}

.list-element {
  width: 100%;
  margin-top: 8px;
  background-color: white;

}


.new-task {
  margin-right: 5px;
}

.add-section{
  display: flex;
}

.list-element button:hover {
  outline: 1px solid rgb(208, 202, 202);;
}